
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Java bin & build directory
**/bin/
**/build/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore Azure Local Component/Testing files
AzuriteConfig
__azurite**
__blobstorage__
__queuestorage__